@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body::-webkit-scrollbar {
    width: 0.3em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

:root {
    --color-Marineblue: #02295a;
    --color-Purplishblue: #473dff;
    --color-Pastelblue: hsl(228, 100%, 84%);
    --color-Lightblue: #bfe2fd;
    --color-Strawberryred: #ed3548;

    --color-Coolgray: #9699ab;
    --color-Lightgray: hsl(229, 24%, 87%);
    --color-Magnolia: hsl(217, 100%, 97%);
    --color-Alabaster: hsl(231, 100%, 99%);
    --color-White: hsl(0, 0%, 100%);
    --color-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(./assets/images/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 1rem;
    height: 100vh;
}

.sidebar-mobile {
    width: 100%;
}

.img-container {
    /* position: relative; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-container-btn {
    /* position: absolute; */
    /* top: 15%;
    left: 25%; */
    display: flex;
    gap: 1.2rem;
}

.list-btn {
    border: 1px solid var(--color-White);
    color: var(--color-White);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;

}



.info-heading {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-Marineblue);
}

.info-para {
    font-size: 1.1rem;
    color: var(--color-Coolgray);
    font-weight: 400;
    letter-spacing: 1.1px;
    line-height: 1.1;
}

.form-container {
    padding: 1rem;
    position: relative;
}

form {
    position: relative;

}

.content-container {
    background-color: var(--color-Alabaster);
    /* background-color: aqua; */
    position: absolute;
    left: 0;
    top: 135%;
    border-radius: 10px;
    padding: 1rem;
    height: 500px;
}

.info {
    margin-bottom: 1.5rem;
    display: grid;
    gap: 1.2rem;
}

.label-input {
    display: grid;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.label-input>label {
    color: var(--color-Marineblue);
    font-weight: 500;
}

.label-input>input {
    border: 1px solid var(--color-Lightgray);
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.3rem;
    color: var(--color-Marineblue);
    font-weight: 700;
    letter-spacing: 1.1px;
}

.label-input>input:focus {
    outline: 1px solid var(--color-Purplishblue);
}

.label-input>input::placeholder {
    font-size: 1rem;
    letter-spacing: 1.1px;
    color: var(--color-Coolgray);
}

.form-btn-container{
    margin-top: 5rem;
    bottom: -50%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}


.form-btn-container > button {
    padding: 0.8rem;
    border: 0;
    border-radius: 8px;
    background-color: var(--color-Marineblue);
    color: var(--color-Lightgray);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.1px;
}


.form-btn-container > button:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: ease 0.3s;
}

.btn-container {
    /* position: absolute; */
    margin-top: 5rem;
    bottom: -50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Confirm{
    padding: 0.8rem;
    border: 0;
    border-radius: 8px;
    background-color: var(--color-Purplishblue);
    color: var(--color-Lightgray);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.1px;
}

.Confirm:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: ease 0.3s;
}

.btn-container>.submit {
    padding: 0.8rem;
    border: 0;
    border-radius: 8px;
    background-color: var(--color-Marineblue);
    color: var(--color-Lightgray);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.1px;
}

.btn-container>.submit:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: ease 0.3s;
}


.btn-container>.prev {
    padding: 0.8rem;
    border: 0;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.1px;
    color: var(--color-Coolgray);
    border-radius: 8px;

}


.btn-container>.prev:hover {
    cursor: pointer;
    color: #02295a;
    outline: 1px solid #02295a;
    transition: ease 0.3s;
}



.label-alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert {
    color: var(--color-Strawberryred);
    font-weight: 500;
    display: none;
}

.show-alert {
    display: block;

}


.boxes {
    display: grid;
    gap: 1rem;
}


.box-list {
    padding: 1rem 0.6rem;
    /* border: 1px solid var(--color-Purplishblue); */
    border-radius: 10px;
    cursor: pointer;
}

.box-list-style {
    outline: 1px solid var(--color-Purplishblue);
    transition: all 0.3s;
}

.box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.box-info {
    display: grid;
    gap: 0.5rem;

}


.span-bold {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-Marineblue);
    letter-spacing: 1.2px;
}


.span-light {
    color: var(--color-Coolgray);
    font-weight: 400;
    letter-spacing: 1.1px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 28px;
}


.switch>input {
    opacity: 0;
    width: 0;
    height: 0;
}



.slider.round {
    border-radius: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-Marineblue);
    -webkit-transition: .4s;
    transition: .4s;
}

/* .switch > input:checked + .toggle-year { */
/* color: var(--color-Coolgray); */
/* color: gainsboro; */
/* } */

.switch>input:checked+.slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round::before {
    border-radius: 50%;
}

.slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 6px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


.toggle-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.toggle-month,
.toggle-year {
    font-size: 1.1rem;
    font-weight: 500;
    /* color: var(--color-Marineblue); */
}

/* .switch  input:checked + .toggle-year { 
    color: var(--color-Coolgray);
    color: gainsboro;
} */

.span-blue {
    font-weight: 400;
    color: var(--color-Marineblue);
    display: none;
}

.show-span-blue {
    display: block;
}

.box-info-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* The container */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 26px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid var(--color-Coolgray);
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: var(--color-Purplishblue);
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.span-price{
    color: var(--color-Purplishblue);
    font-weight: 400;
}

.plan-li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.para-price, .para-span-price {
color: var(--color-Marineblue);
font-weight: 700;
}

.span-cont{
    display: grid;
    gap: 0.3rem;
}

.span-change{
	-webkit-tap-highlight-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    color: var(--color-Coolgray);
}